body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body header {
  background-color: rgb(31, 62, 112);
  height: 100px;
  width: 100%;
}
body header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body header nav ul li{
  list-style: none;
}
body header nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 24px;
}
body main form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 0 auto;
}
body main form div{
  width: 100%;
  margin-bottom: 20px;
}
body main form div label{
  font-size: 18px;
}
body main form div input{
  width: 90%;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 5px;
}

body main form div .recordarme{
  width: 10px;
}
body main form div small{
  color: red;
  font-size: 18px;
}
body main form .colores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main form .colores label{
  width: 80%;
}
body main form .colores input{
  width: 30%;
  height: 30px;
}
body main form div select{
  width: 100px;
  margin: 0 20px 20px;
  font-size: 18px;
}
body main form div button{
  width: 100px;
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
